extends layout/layout

block vars
	-title = 'Welcome to Gulp Template workflow'
	-bodyClass = 'home-page'

block container
	p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab adipisci modi quibusdam doloremque nemo ut at, impedit earum maiores cumque. Modi asperiores numquam saepe quas eligendi incidunt architecto! Quam, dicta.