extends layout/layout

block vars
	-title = 'Welcome to Gulp Template workflow'
	-bodyClass = 'home-page'

block container
	p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab adipisci modi quibusdam doloremque nemo ut at, impedit earum maiores cumque. Modi asperiores numquam saepe quas eligendi incidunt architecto! Quam, dicta.
	div lorem 2
	h2(class="heading" id="heading") This is heading title
	input(type="text" name="email" placeholder="Please enter your name")
	form(action="#" method="post")
	ul.list 
		+ListItem("1", "caption 1")
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam at, quam ut mollitia nisi necessitatibus consequatur aliquam odio atque natus unde neque quod itaque adipisci dolorem vero excepturi nihil. Quaerat!
		+ListItem("2", "caption 2")
		+ListItem("3", "caption 3")
		+ListItem("4", "caption 4")